@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";
@import "flatpickr/dist/flatpickr.min.css";

html[data-theme="light"] {
  color-scheme: light;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Titillium Web", sans-serif;
}

.advance-select-menu {
  margin-top: 1px !important;
}

.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  /* light circle */
  border-top: 6px solid #3498db;
  /* visible arc */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 2rem;

}